body{background-color: #f2f2f2;}
.container{padding:30px;}

.title{
    color:#ffffff;
    border-radius:6px;
    padding:20px;
    background: rgb(63,94,251);
    width:auto;
}

.input-card{
    width:350px;
    height:auto;
    margin-top:20px;
}


.icon2{height:100px;
width:100px;
margin: auto;}
input{
    border:none;
    border-radius:5px;
    padding:7px;
}
.weather-data{
    border-radius:5px;
    justify-content: center;
    align-items: center;
    width:300px;
    height:auto;
    margin:auto;
    float:center;
    position: relative;
}
.lg-card{background-color: #ffffff;
    border-radius:5px;
    margin-top:15px;
    width:280px;
    height:270px;
    
text-align: center;
padding:20px;
font-size: 20px;}
.sm-card{background-color: #ffffff;
border-radius:8px;
margin:10px;
width:120px;
height:120px;justify-content: center;
align-items: center;
display:flex;
flex-direction: column;

}
.place{color:#00e673;}
.date{color: #0099ff;}
p{font-size:14px;
margin:0px;
padding:0px;}
.btn-search{
    color:#ffffff;
    background-color:#4d4d4d;


    
}
.temp{font-size:40px ;}
.value{font-size: 18px;
color:#fc0366;
}
.container-flex{display:flex;
    flex-direction: column;}

.icon{height:60px;
width:60px;
margin:auto;}
.all-cards{display:flex;
flex-direction: row;
flex-wrap: wrap;



}





@media screen 
  and (min-device-width: 1200px) {
    .container-flex{display:flex;
        flex-direction: row;}
        .weather-data{margin-left:30px;
            margin-top:60px;
        width:700px;}
        
    
  }



/* //media queries */
/* @media only screen and(min-width:400px){
    .container{padding:10px;}

    .container-flex{display:flex;
    flex-direction: column;}

    .weather-data{width:400px;}
} */